.main {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 15px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game {
    border: white solid 2px;
    border-radius: 5px;
    background-color: rgba(204, 204, 204, 0.5);
    padding: 15px;
    margin: 15px 7.5px;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
}

@media only screen and (orientation: landscape) {
    .board {
        width: 70vh;
        height: 70vh;
    }
}

@media only screen and (orientation: portrait) {
    .board {
        width: 80vw;
        height: 80vw;
    }
}