html,
body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    color: white;
    overflow: hidden;
}

input,
button,
select {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

h1 {
    text-align: center
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
